@charset "utf-8";

#cjk-radicals-unit
{
    --color-frame: hsl(0, 0%, 75%);
    --color-background: hsl(0, 0%, 92.5%);
}

#cjk-radicals-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

#cjk-radicals-unit .actions.interface
{
    margin: 1em 0 0 0;
}

#cjk-radicals-unit .live-search
{
    margin-right: 1em;
}

#cjk-radicals-unit .count-info
{
    line-height: 1em;
    width: 72px;
}

#cjk-radicals-unit .count-number
{
    font-weight: bold;
}

#cjk-radicals-unit .input-group
{
    margin-bottom: 0.5em;
}

#cjk-radicals-unit .interface
{
    text-align: left;
    margin: 1em 0 1.5em 0;
}

#cjk-radicals-unit .live-search
{
    width: 20em;
    font-size: 16px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

#cjk-radicals-unit .sheet
{
    display: block;
    padding: 0;
}

#cjk-radicals-unit .sheet table,
#cjk-radicals-unit .sheet tr,
#cjk-radicals-unit .sheet th,
#cjk-radicals-unit .sheet td
{
    border-collapse: collapse;
    border: none;
    background-color: white;
}

#cjk-radicals-unit .sheet .table
{
    margin: 1em 0 0.5em 0;
    width: unset;
    background-color: transparent;
}

#cjk-radicals-unit .sheet .table th
{
    background-color: var(--color-background);
    border: 1px solid var(--color-frame);
    color: var(--color);
    text-align: center;
    vertical-align: middle;
    font-size: 12.5px;
    padding: 0.4em 0.2em;
    overflow: hidden;
}

#cjk-radicals-unit .sheet .table th,
#cjk-radicals-unit .sheet .table td
{
    width: 84px;
    min-width: 84px;
    max-width: 84px;
}

#cjk-radicals-unit .sheet .table th.full-name,
#cjk-radicals-unit .sheet .table td.full-name
{
    width: 112px;
    min-width: 112px;
    max-width: 112px;
}

#cjk-radicals-unit .sheet .table th.source.legacy::after
{
    content: "\A0†";
}

#cjk-radicals-unit .sheet .table td
{
    border: 1px solid var(--color-frame);
    color: var(--color);
    padding: 8px;
    vertical-align: middle;
    user-select: text;
    cursor: text;
}

#cjk-radicals-unit .sheet .table .data-row
{
    vertical-align: middle;
}

#cjk-radicals-unit .sheet .table .data
{
    user-select: text;
    cursor: text;
}

#cjk-radicals-unit .sheet .table .empty-gap
{
    width: 20px;
    min-width: 20px;
    border: none;
    background: none;
    visibility: hidden;
    user-select: none;
    cursor: default;
}

#cjk-radicals-unit .sheet .table .empty
{
    user-select: none;
    cursor: default;
    background-image: url("crosshatch-1-1.svg");
    background-size: 8px;
    background-position: center;
    color: var(--color-dimmed);
}

#cjk-radicals-unit .sheet .table td.number span.kangxi-number
{
    display: inline-block;
    width: 42px;
    border: 1px solid var(--color-accent);
    border-radius: 4px;
    padding: 2px 4px;
    color: white;
    background-color: var(--color-accent);
    opacity: 0.9;
    font-family: var(--monospace-family);
    font-weight: bold;
    /* font-size: 16px; */
}

#cjk-radicals-unit .sheet .table td.radical,
#cjk-radicals-unit .sheet .table td.local-font,
#cjk-radicals-unit .sheet .table td.equivalent-unified,
#cjk-radicals-unit .sheet .table td.normalized,
#cjk-radicals-unit .sheet .table td.other
{
    padding: 12px;
}

#cjk-radicals-unit .sheet .table td.radical .glyph
{
    font-family: var(--cjk-radicals-family);
    font-size: 48px;
    line-height: 1em;
}

#cjk-radicals-unit .sheet .table td.local-font .glyph,
#cjk-radicals-unit .sheet .table td.equivalent-unified .glyph,
#cjk-radicals-unit .sheet .table td.normalized .glyph,
#cjk-radicals-unit .sheet .table td.other .glyph
{
    font-family: var(--ids-family);
    font-size: 48px;
    line-height: 1em;
}

#cjk-radicals-unit .sheet .table td.radical .code-point,
#cjk-radicals-unit .sheet .table td.local-font .code-point,
#cjk-radicals-unit .sheet .table td.equivalent-unified .code-point,
#cjk-radicals-unit .sheet .table td.normalized .code-point,
#cjk-radicals-unit .sheet .table td.other .code-point
{
    display: inline-block;
    font-family: var(--monospace-family);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    padding: 3px;
    border: 1px solid var(--color-border);
    border-radius: 2px;
    background-color: var(--color-bg);
    margin-top: 8px;
}

#cjk-radicals-unit .sheet .table .no-radical
{
    color: var(--color-accent);
}

#cjk-radicals-unit .sheet .table td.full-name
{
    line-height: 1.33em;
}

#cjk-radicals-unit .sheet .table td.message
{
    text-align: center;
    font-style: italic;
    user-select: none;
    cursor: default;
}

#cjk-radicals-unit .sheet .table .pdf-info
{
    height: 38px;
    font-family: var(--system-ui-family);
    font-size: 9.5px;
    font-weight: bold;
    line-height: 1.333em;
    margin: 2em 0;
    user-select: none;
    cursor: default;
}

#cjk-radicals-unit .sheet .table .font-glyph
{
    margin: 2px 0 -2px 0;
}

#cjk-radicals-unit .sheet .table td.radical-code-point
{
    font-family: var(--monospace-family);
    text-align: center;
    font-weight: bold;
    line-height: 1em;
}

#cjk-radicals-unit .sheet .table .source-code
{
    color: var(--color);
    font-family: var(--sans-serif-family);
    font-size: 12px;
    line-height: 1.2em;
    letter-spacing: -0.5px;
    margin: -1px 0 1px 0;
}

#cjk-radicals-unit .sheet .table .compatibility .source-code
{
    font-style: italic;
}

#cjk-radicals-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#cjk-radicals-unit .instructions li
{
    margin: 0.25em 0;
}

#cjk-radicals-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#cjk-radicals-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#cjk-radicals-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#cjk-radicals-unit .instructions code.select-all
{
    user-select: all;
    cursor: text;
}

#cjk-radicals-unit .fields-table
{
    margin: 0.75em 0;
    width: unset;
}

#cjk-radicals-unit .fields-table tr th,
#cjk-radicals-unit .fields-table tr td
{
    text-align: left;
    padding: 0.25em 0.75em;
    /* white-space: nowrap; */
}

#cjk-radicals-unit .fields-table tr th
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8))
}

#cjk-radicals-unit .fields-table tr td
{
    vertical-align: middle;
}

#cjk-radicals-unit .fields-table tr th.code,
#cjk-radicals-unit .fields-table tr td.code
{
    text-align: center;
}

#cjk-radicals-unit .fields-table tr:nth-child(even) td
{
    background-color: white;
}

#cjk-radicals-unit .fields-table tr:nth-child(odd) td
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#cjk-radicals-unit .statistics-table
{
    margin-top: 0.25em;
    margin-bottom: 1.5em;
    width: unset;
    font-size: 12px;
    user-select: text;
    cursor: text;
}

#cjk-radicals-unit .statistics-table tr:nth-child(even) td
{
    background-color: white;
}

#cjk-radicals-unit .statistics-table tr:nth-child(odd) td
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#cjk-radicals-unit .statistics-table th,
#cjk-radicals-unit .statistics-table td
{
    vertical-align: middle;
    padding: 3px;
}

#cjk-radicals-unit .statistics-table th
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#cjk-radicals-unit .statistics-table th.block-header,
#cjk-radicals-unit .statistics-table td.block-data,
#cjk-radicals-unit .statistics-table td.total-label
{
    text-align: left;
    padding: 3px 6px;
    width: 0;
    font-weight: bold;
}

#cjk-radicals-unit .statistics-table th.count-header
{
    text-align: center;
    padding: 6px 3px;
}

#cjk-radicals-unit .statistics-table td.count-data,
#cjk-radicals-unit .statistics-table td.total-data
{
    text-align: right;
    padding: 6px;
    font-family: var(--monospace-family);
}

#cjk-radicals-unit .statistics-table td.total-label
{
    font-weight: bold;
}

#cjk-radicals-unit details
{
    margin: 1.2em 0;
}

#cjk-radicals-unit details[open] summary
{
    margin: 1.2em 0;
}

#cjk-radicals-unit summary
{
    font-weight: bold;
}

