<section id="cjk-radicals-unit">
    <div class="plain-panel">
        <div class="interface">
            <input class="live-search" type="search" placeholder="Live Search…">
            <label class="checkbox"><input class="whole-word-checkbox" type="checkbox">&nbsp;Whole Word</label>
        </div>
        <div class="sheet"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>CJK Radicals</strong> utility displays visual information about the 329 (214 + 115) Chinese radical characters defined in <strong>Unicode 16.0</strong>.</li>
                <li>For each KangXi radical (i.e., belonging to the <code>Kangxi Radicals</code> block), related CJK radicals (i.e., belonging to the <code>CJK Radicals Supplement</code> block), if any, are listed in the same group indexed by radical number, from <code>1</code> to <code>214</code>.</li>
                <li>Use the <kbd>Live Search…</kbd> input field to control which radicals are listed. As you type in the search field, only groups of radicals whose data fields match the input string get displayed:
                    <table class="fields-table">
                        <tr><th>Data Field</th><th>Description</th></tr>
                        <tr><td>Number</td><td>Radical number (1 to 214)</td></tr>
                        <tr><td>Full Name</td><td>Radical full name</td></tr>
                        <tr><td>Code Point</td><td>Radical code point</td></tr>
                        <tr><td>Radical</td><td>Code chart representative glyph</td></tr>
                        <tr><td>Local Font</td><td>Default local glyph rendering</td></tr>
                        <tr><td>Eq. Unified</td><td>Equivalent CJK unified ideograph</td></tr>
                        <tr><td>Normalized</td><td>Normalized radical (NFKC/NFKD)</td></tr>
                        <tr><td>Other</td><td>Substitute/Alternate</td></tr>
                    </table>
                </li>
                <li>Click on the <kbd>Whole Word</kbd> checkbox to further restrict the search to whole words only.</li>
                <li>Notes:
                    <ul>
                        <li>The <code>CJK Radical Repeat</code> is considered a variant form of the <code>KangXi Radical Ice</code> (<em>not</em> <code>KangXi Radical Dot</code> <em>or</em> <code>KangXi Radical Two</code>).</li>
                        <li>To display the representative glyphs of the radicals as they appear in the code charts, this utility makes use of an embedded copy of the <a title="https://github.com/adobe-fonts/cjk-radicals" href="https://github.com/adobe-fonts/cjk-radicals">CJK Radicals</a> font.</li>
                        <li>The <code>Eq. Unified</code> field uses information contained in the <a title="https://www.unicode.org/Public/16.0.0/ucd/EquivalentUnifiedIdeograph.txt" href="https://www.unicode.org/Public/16.0.0/ucd/EquivalentUnifiedIdeograph.txt">EquivalentUnifiedIdeograph.txt</a> and <a title="https://www.unicode.org/Public/16.0.0/ucd/CJKRadicals.txt" href="https://www.unicode.org/Public/16.0.0/ucd/CJKRadicals.txt">CJKRadicals.txt</a> data files.</li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
