<section id="cjk-sources-unit">
    <div class="plain-panel">
        <div class="actions">
            <span class="action-group">
                <span class="action">
                    <button class="clear-button" type="button">Clear</button>
                </span>
                <span class="action">
                    <button class="pull-down-menu characters-samples" type="button">Samples</button>
                </span>
            </span>
            <span class="action-group">
                <span class="count-info">Count:&nbsp;<span class="count-number" title="Actual count">0</span>&nbsp;/&nbsp;<span class="total-count-number" title="Total count">0</span></span>
            </span>
            <span class="action-group">
                <span class="action">
                    <button class="load-button" type="button">Load...</button>
                </span>
                <span class="action">
                    <button class="save-button" type="button">Save...</button>
                </span>
            </span>
        </div>
        <div class="input-group">
            <input class="characters-input" type="text" maxlength="512" placeholder="Characters…">
            <input class="code-points-input" type="text" maxlength="4096" placeholder="Code points…">
        </div>
        <div class="sheet"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>CJK Sources</strong> utility displays in a grid fashion the various sources of a given subset of CJKV (Chinese/Japanese/Korean/Vietnamese) characters, as referenced in the <strong>Unicode 16.0</strong> <a href="https://www.unicode.org/Public/16.0.0/charts/CodeCharts.pdf" title="https://www.unicode.org/Public/16.0.0/charts/CodeCharts.pdf">CodeCharts.pdf</a> document.</li>
                <li>This is especially useful for comparison purposes between relatable character glyphs.</li>
                <li>These CJKV characters belong to the full set of 98,682 Unihan characters (including CJK <em>compatibility</em> ideographs) defined in <strong>Unicode 16.0</strong>.</li>
                <li>Although <em>deprecated</em> from Unicode 14.0, the glyphs corresponding to the UCS2003 source are still listed here, but only for legacy purposes; they are referenced in the archived code chart: <a href="https://www.unicode.org/Public/13.0.0/charts/UCS2003.pdf" title="https://www.unicode.org/Public/13.0.0/charts/UCS2003.pdf">CJK Unified Ideographs Extension B - UCS2003.pdf</a>.</li>
                <li>For best display results, most recent versions of the following fonts should be downloaded and installed at the OS level:
                    <ul>
                        <li><a title="https://www.babelstone.co.uk/Fonts/Han.html" href="https://www.babelstone.co.uk/Fonts/Han.html">BabelStone Han</a> (<code>BabelStoneHan.ttf</code>)</li>
                        <li><a title="https://kamichikoichi.github.io/jigmo/" href="https://kamichikoichi.github.io/jigmo/">Jigmo</a> (<code>Jigmo.ttf</code>, <code>Jigmo2.ttf</code>, <code>Jigmo3.ttf</code>)</li>
                        <li><a title="http://cheonhyeong.com/Simplified/download.html" href="http://cheonhyeong.com/Simplified/download.html">TH-Tshyn</a> (<code>TH-Tshyn-P0.ttf</code>, <code>TH-Tshyn-P1.ttf</code>, <code>TH-Tshyn-P2.ttf</code>, <code>TH-Tshyn-P16.ttf</code>)</li>
                    </ul>
                </li>
                <li>CJK characters can be entered either directly in the "Characters" input field, or using a series of code points in hexadecimal format in the "Code points" input field.</li>
                <li>It is also possible to input predefined strings of CJK characters selected from the <kbd>Samples&nbsp;▾</kbd> pop-up menu.</li>
                <li>As a convenience, the input fields can be emptied using the <kbd>Clear</kbd> button.</li>
                <li>In output, the standard Unicode code point format <code class="select-all">U+9999</code> is used, i.e. "U+" directly followed by 4 or 5 hex digits.</li>
                <li>In input, more hexadecimal formats are allowed, including Unicode escape sequences, such as <code class="select-all">\u6E7E</code> or <code class="select-all">\u{21FE7}</code>. Moving out of the field or typing the Enter key converts all valid codes to standard Unicode code point format.</li>
                <li>Code point and alphanumeric source references of CJK <em>compatibility</em> characters are systematically displayed in <em>italics</em>.</li>
                <li>Whereas the original code charts are making use of mutually incompatible, block-specific source orderings, this utility displays the relevant sources always sorted in the same order, discarding any empty column for the sake of clarity:
                    <table class="sources-table">
                        <tr><th>Prefix</th><th>Source</th><th>Unihan Property</th></tr>
                        <tr><td>G</td><td>China</td><td>kIRG_GSource</td></tr>
                        <tr><td>H</td><td>Hong Kong</td><td>kIRG_HSource</td></tr>
                        <tr><td>M</td><td>Macao</td><td>kIRG_MSource</td></tr>
                        <tr><td>T</td><td>Taiwan</td><td>kIRG_TSource</td></tr>
                        <tr><td>J</td><td>Japan</td><td>kIRG_JSource</td></tr>
                        <tr><td>K</td><td>South Korea</td><td>kIRG_KSource</td></tr>
                        <tr><td>KP</td><td>North Korea</td><td>kIRG_KPSource</td></tr>
                        <tr><td>V</td><td>Vietnam</td><td>kIRG_VSource</td></tr>
                        <tr><td>UTC</td><td>UTC</td><td>kIRG_USource</td></tr>
                        <tr><td>SAT</td><td>SAT</td><td>kIRG_SSource</td></tr>
                        <tr><td>UK</td><td>U.K.</td><td>kIRG_UKSource</td></tr>
                        <tr><td>UCS</td><td>UCS2003&nbsp;†</td><td><em>&lt;none&gt;</em></td></tr>
                    </table>
                </li>
                <li>UTC stands for <em>Unicode Technical Committee</em>, which is responsible for the development and maintenance of the Unicode Standard.</li>
                <li>SAT (<em>SAmganikikrtam Taisotripitakam</em> in Sanskrit) represents a machine-readable text database of the <a href="https://en.wikipedia.org/wiki/Taish%C5%8D_Tripi%E1%B9%ADaka" title="https://en.wikipedia.org/wiki/Taish%C5%8D_Tripi%E1%B9%ADaka">Taishō Tripiṭaka</a>.</li>
                <li>Tables of glyphs statistics and IRG source references are available for quick reference.</li>
            </ul>
        </details>
        <details class="statistics">
            <summary>Glyphs Statistics</summary>
            <div class="statistics-table"></div>
        </details>
        <details class="irg-source-refs">
            <summary>IRG Source References</summary>
            <div class="irg-sources-table"></div>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
