<section id="cjk-strokes-unit">
    <div class="plain-panel">
        <div class="interface">
            <input class="live-search" type="search" placeholder="Live Search…">
            <label class="checkbox"><input class="whole-word-checkbox" type="checkbox">&nbsp;Whole Word</label>
        </div>
        <div class="sheet"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>CJK Strokes</strong> utility displays visual information about the 38 individual CJK strokes defined in <strong>Unicode 16.0</strong>.</li>
                <li>Use the <kbd>Live Search…</kbd> input field to control which CJK strokes are listed. As you type in the search field, only CJK strokes whose data fields match the input string get displayed:
                <table class="fields-table">
                <tr><th>Data Field</th><th>Description</th></tr>
                <tr><td>Acronym</td><td>Stroke acronym string</td></tr>
                <tr><td>Code Point</td><td>Stroke code point</td></tr>
                <tr><td>Stroke</td><td>Code chart representative glyph</td></tr>
                <tr><td>Local Font</td><td>Default local glyph rendering</td></tr>
                <tr><td>Eq. Unified</td><td>Equivalent CJK unified ideograph</td></tr>
                </table>
                </li>
                <li>Click on the <kbd>Whole Word</kbd> checkbox to further restrict the search to whole words only.</li>
                <li>Notes:
                    <ul>
                        <li>To display the representative glyphs of the strokes as they appear in the code charts, this utility makes use of an embedded copy of the <a title="https://github.com/unicode-org/cjk-symbols" href="https://github.com/unicode-org/cjk-symbols">CJK Symbols</a> font.</li>
                        <li>The <code>Eq. Unified</code> field uses information contained in the <a title="https://www.unicode.org/Public/16.0.0/ucd/EquivalentUnifiedIdeograph.txt" href="https://www.unicode.org/Public/16.0.0/ucd/EquivalentUnifiedIdeograph.txt">EquivalentUnifiedIdeograph.txt</a> data file.</li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
