@charset "utf-8";

@font-face
{
    font-family: "Serif CJK JP";
    src: url("cjk-fonts/SourceHanSerif-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "Serif CJK KR";
    src: url("cjk-fonts/SourceHanSerifK-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "Serif CJK SC";
    src: url("cjk-fonts/SourceHanSerifSC-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "Serif CJK TC";
    src: url("cjk-fonts/SourceHanSerifTC-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "Serif CJK HK";
    src: url("cjk-fonts/SourceHanSerifHC-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "NotDef";
    src: url("not-def-font/AND-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "ASCII Mono";
    src: local("Segoe UI Mono"), local(Monaco), local(Menlo), local("DejaVu Sans Mono"), local("Liberation Mono"), local("Noto Mono"), local("Ubuntu Mono");
    font-weight: bold;
    unicode-range: U+00-7F, U+2026;
}

@font-face
{
    font-family: "ASCII Sans";
    src: local("Segoe UI"), local(Arial), local(Geneva), local(Verdana), local(Tahoma), local("DejaVu Sans"), local("Liberation Sans"), local("Noto Sans"), local("Ubuntu");
    font-weight: bold;
    unicode-range: U+00-7F, U+2026;
}

@font-face
{
    font-family: "CJK Radicals";
    src: url("cjk-radicals-font/CJKRadicals-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "CJK Symbols";
    src: url("cjk-symbols-font/CJKSymbols-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "BabelStone Han PUA";
    src: url("ids-fonts/BabelStoneHanPUA.woff2") format("woff2");
}

@font-face
{
    font-family: "Blank";
    src: url("blank-font/AdobeBlank2.otf") format("opentype");
}

:root
{
    --color:           hsl(0, 0%, 22%);
    --color-subtle:    hsl(0, 0%, 44%);
    --color-strong:    hsl(0, 0%, 11%);
    --color-strongest: hsl(0, 0%, 0%);
    --color-dimmed:    hsl(0, 0%, 56%);
    --color-border:    hsl(31, 5%, 88%);
    --color-bg:        hsl(31, 5%, 96%);
    --color-accent:    hsl(196, 75%, 37%);
    --color-hover:     hsl(270, 100%, 50%);
    --color-error:     hsl(0, 100%, 40%);
    --color-highlight: hsl(56, 100%, 50%);
    --color-selection: hsl(255, 75%, 60%);
    --color-focus:     hsl(210, 100%, 67%);
    --sidebar-duration: calc(1s/10);
    --sidebar-width: 240px;
    --monospace-family: "Segoe UI Mono", Monaco, Menlo, "DejaVu Sans Mono", "Liberation Mono", "Noto Mono", "Ubuntu Mono", monospace;
    --system-ui-family: "Segoe UI", system-ui, sans-serif;
    --sans-serif-family: "Segoe UI", Arial, Geneva, Verdana, Tahoma, "DejaVu Sans", "Liberation Sans", "Noto Sans", Ubuntu, sans-serif;
    --cjk-radicals-family: "CJK Radicals";
    --cjk-symbols-family: "CJK Symbols";
    --ids-family: "BabelStone Han PUA", "BabelStone Han", "Jigmo", "Jigmo2", "Jigmo3", "Hanazono Mincho A", "Hanazono Mincho B", "Hanazono Mincho C", "TH-Tshyn-P0", "TH-Tshyn-P1", "TH-Tshyn-P2", "TH-Tshyn-P16", serif;
}
