<section id="cjk-local-fonts-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="action-group">
                <button class="pull-down-menu history-button" type="button" title="Lookup History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                <input class="unihan-input" type="search" maxlength="64" title="Character(s) or code point(s):&#xA;Unihan base + optional variation selector" placeholder="Unihan (+VS)…">
                <button class="look-up-button" type="button">Look Up</button>
            </span>
            <span class="action-group compact">
                <label class="checkbox"><input class="compact-layout-checkbox" type="checkbox">&nbsp;Compact Layout</label>
            </span>
        </div>
        <div class="interface bis">
            <span class="action-group">
                <span class="character-reference"></span>
            </span>
            <span class="action-group filter">
                <span class="east-asian">
                    <label class="checkbox"><input class="use-east-asian" type="checkbox">&nbsp;East Asian Variant:&nbsp;<select class="east-asian-select">
                            <option value="normal">Normal</option>
                            <hr>
                            <option value="jis78">JIS X 0208:1978</option>
                            <option value="jis83">JIS X 0208:1983</option>
                            <option value="jis90">JIS X 0208:1990</option>
                            <option value="jis04">JIS X 0213:2004</option>
                            <hr>
                            <option value="simplified">Simplified Chinese</option>
                            <option value="traditional">Traditional Chinese</option>
                        </select>
                    </label>
                </span>
                <span><span class="count-info"><span class="filtered-count-number" title="Filtered count">0</span>&nbsp;/&nbsp;<span class="total-count-number" title="Total count">0</span></span>&nbsp;&nbsp;<input class="name-filter-input" type="search" placeholder="Font name filter…"></span>
                <span class="error-message"></span>
            </span>
        </div>
        <div class="progress-message hidden">
            <svg class="progress">
                <use href="/images/actions.svg#progress"></use>
            </svg>
            <span>Getting list of local fonts...</span>
        </div>
        <div class="font-glyphs-container"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>CJK Local Fonts</strong> utility displays all the local font glyphs of a given Unihan character.</li>
                <li>Any Unihan character can be entered in the <kbd>Unihan</kbd> input field either as a character or a code point. Click on the <kbd>Look Up</kbd> button to display all the glyphs.</li>
                <li>Standardized variants and Ideographic Variation Sequences (IVS) are also accepted in input, either directly, e.g., <code class="select-all">劍󠄁</code>, or as a combination of two code points: Unihan base character + variation selector (VS1 to VS256), e.g., <code class="select-all">U+6F22 U+FE00</code>, or <code class="select-all">U+9F8D U+E0101</code>; the specific formats <code class="select-all">&lt;9F8D, E0107&gt;</code> <em>(IVD)</em> or <code class="select-all">u9f8d-ue010e</code> <em>(GlyphWiki)</em> are also supported.</li>
                <li>Use the <kbd>VS</kbd> drop-down menu to add, replace, or remove a variation selector (<code>1</code> to <code>256</code>, or <code>--</code> for none).</li>
                <li>Previously looked up characters are kept in a history stack; use the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate through them up and down inside the input field. Alternatively, you can also use the <kbd>Lookup&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically look up a specific character.</li>
                <li>Click on the <kbd>Compact Layout</kbd> checkbox to display the local font glyphs in a more compact way: hovering over each glyph frame brings up a tooltip with the local font name.</li>
                <li>Use the <kbd>East Asian Variant</kbd> drop-down menu to display specific logographic glyph variants.</li>
                <li>Use the <kbd>Font Name Filter</kbd> input field to restrict in real time the display of local font glyphs to the font names matching the text string.</li>
                <li>Notes:
                    <ul>
                        <li>A dashed outline is added to a character frame whenever the glyph of a Unihan character coming with a variation selector is visually different from the glyph of its base character alone; in such case, alt-clicking (or shift-clicking) inside the character frame displays momentarily the base character glyph; this is especially useful to spot subtle differences between glyph variations.</li>
                        <li>For best coverage of Unicode Variation Sequences, some of the following fonts should be downloaded and installed at the OS level:
                            <ul>
                                <li><a title="https://kamichikoichi.github.io/jigmo/" href="https://kamichikoichi.github.io/jigmo/">Jigmo</a> (<code>Jigmo.ttf</code>, <code>Jigmo2.ttf</code>, <code>Jigmo3.ttf</code>)</li>
                                <li><a title="https://moji.or.jp/mojikiban/font/" href="https://moji.or.jp/mojikiban/font/">IPA MJ Mincho</a> (<code>ipamjm.ttf</code>)</li>
                                <li><a title="https://moji.or.jp/ipafont/ipaex00401/" href="https://moji.or.jp/ipafont/ipaex00401/">IPAEx Font Ver.004.01</a> (<code>ipaexm.ttf</code>, <code>ipaexg.ttf</code>)</li>
                                <li><a title="https://github.com/adobe-fonts/source-han-serif/tree/release" href="https://github.com/adobe-fonts/source-han-serif/tree/release">Source Han Serif</a> (various set formats)</li>
                                <li><a title="https://github.com/adobe-fonts/source-han-sans/tree/release" href="https://github.com/adobe-fonts/source-han-sans/tree/release">Source Han Sans</a> (various set formats)</li>
                            </ul>
                        </li>
                        <li>Radicals do <em>not</em> belong to the Unihan character set; they are allowed to be looked up here merely as a convenience, since they are closely related, and because their appearance is similar, or even identical, to their equivalent CJK unified ideograph.</li>
                        <li>Likewise, individual CJK strokes are also allowed to be looked up.</li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
