@charset "utf-8";

#cjk-local-fonts-unit .interface
{
    display: flex;
    flex-direction: row;
    row-gap: normal;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0.5em 0 0 0;
    white-space: nowrap;
}

#cjk-local-fonts-unit .interface.bis
{
    margin: 0.75em 0 0 0;
}

#cjk-local-fonts-unit .interface .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cjk-local-fonts-unit .history-button
{
    padding: 1px 6px;
    margin-right: 0.5em;
    user-select: none;
    white-space: nowrap;
}

#cjk-local-fonts-unit .history-button::after
{
    top: -2px;
}

#cjk-local-fonts-unit .history-button svg.history
{
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#cjk-local-fonts-unit .unihan-input
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    line-height: 1.333em;
    padding: 2px 6px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 12em;
    margin: 0 0.5em 0 0.25em;
}

#cjk-local-fonts-unit .interface .action-group.compact
{
    align-self: center;
    margin-left: 0.5em;
}

#cjk-local-fonts-unit .interface .action-group.filter
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1em;
}

#cjk-local-fonts-unit .character-reference
{
    display: inline-flex;
}

#cjk-local-fonts-unit .character-info
{
    display: inline-flex;
    flex-direction: row;
    width: 12em;
}

#cjk-local-fonts-unit .base-character
{
    display: inline-flex;
    flex-direction: column;
    border: 3px solid var(--color-border);
    border-radius: 6px;
    background-color: white;
    width: 72px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0.125em;
}

#cjk-local-fonts-unit .radical-info,
#cjk-local-fonts-unit .stroke-info
{
    display: inline-flex;
    align-items: center;
    margin-left: 0.75em;
    font-style: italic;
}

#cjk-local-fonts-unit .plus-joiner
{
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    margin: 0 1px;
}

#cjk-local-fonts-unit .vs-character
{
    display: inline-flex;
    flex-direction: column;
    border: 3px solid var(--color-border);
    border-radius: 6px;
    background-color: white;
    width: 72px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0.125em;
}

#cjk-local-fonts-unit .base-character .character-glyph
{
    display: inline-block;
    font-family: var(--ids-family);
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    vertical-align: middle;
    user-select: text;
    cursor: text;
}

#cjk-local-fonts-unit .base-character .character-glyph.radical
{
    font-family: var(--cjk-radicals-family);
}

#cjk-local-fonts-unit .base-character .character-glyph.stroke
{
    font-family: var(--cjk-symbols-family);
    margin: 3px 0 -3px 0;

}

#cjk-local-fonts-unit .vs-character .character-glyph
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--color);
    height: 44px;
    margin: 7px 12px;
    font-family: serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: bold;
}

#cjk-local-fonts-unit .character-code-point
{
    display: inline-block;
    font-family: var(--monospace-family);
    font-size: 12px;
    line-height: 1.2em;
    padding-bottom: 4px;
    font-weight: bold;
    user-select: text;
    cursor: text;
}

#cjk-local-fonts-unit .character-code-point.compatibility
{
    font-style: italic;
}

#cjk-local-fonts-unit .vs-selector
{
    margin-top: 0.5em;
    margin-left: 0.5em;
}

#cjk-local-fonts-unit .vs-label.disabled
{
    color: var(--color-dimmed);
}

#cjk-local-fonts-unit .name-filter-input
{
    font-family: var(--sans-serif-family);
    font-size: 13px;
    line-height: 1.333em;
    padding: 2px 6px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 20em;
    margin: 0 0 0 0.5em;
}

#cjk-local-fonts-unit .unihan-input.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#cjk-local-fonts-unit .east-asian
{
    margin-bottom: 1.25em;
}

#cjk-local-fonts-unit .count-info
{
    font-size: 13px;
    line-height: 1em;
}

#cjk-local-fonts-unit .filtered-count-number
{
    font-weight: bold;
}

#cjk-local-fonts-unit .error-message
{
    margin-top: 0.5em;
    font-style: italic;
    font-weight: bold;
}

#cjk-local-fonts-unit .progress-message.hidden
{
    display: none;
}

#cjk-local-fonts-unit .progress-message
{
    display: inline-flex;
    margin: 16px 0 0 0;
    font-style: italic;
    font-weight: bold;
}

@keyframes spinner-12
{
    0% { transform: rotate(0deg); }
    8.3333333333% { transform: rotate(30deg); }
    16.666666667% { transform: rotate(60deg); }
    25% { transform: rotate(90deg); }
    33.333333333% { transform: rotate(120deg); }
    41.666666667% { transform: rotate(150deg); }
    50% { transform: rotate(180deg); }
    58.333333333% { transform: rotate(210deg); }
    66.666666667% { transform: rotate(240deg); }
    75% { transform: rotate(270deg); }
    83.333333333% { transform: rotate(300deg); }
    91.666666667% { transform: rotate(330deg); }
    100% { transform: rotate(360deg); }
}

#cjk-local-fonts-unit .progress-message .progress
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    animation: spinner-12 0.8s infinite step-start;
}

#cjk-local-fonts-unit .font-glyphs-container .glyph-list
{
    margin: 16px 0 0 0;
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 14px;
}

#cjk-local-fonts-unit .font-glyphs-container .card
{
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    gap: 8px;
}

#cjk-local-fonts-unit .font-glyphs-container .card.is-shown
{
    display: flex;
}

#cjk-local-fonts-unit .font-glyphs-container .card.vs-difference
{
    outline: 2.5px dashed var(--color);
    border: 1px solid transparent;
}

#cjk-local-fonts-unit .font-glyphs-container .glyph
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
    line-height: 1em;
    user-select: text;
    cursor: text;
}

#cjk-local-fonts-unit .font-glyphs-container .font-name
{
    color: var(--color);
    font-family: var(--sans-serif-family);
    font-size: 12px;
    line-height: 1.2em;
    letter-spacing: -0.5px;
    text-align: center;
    vertical-align: middle;
    user-select: text;
    cursor: text;
    width: 100%;
    padding: 0 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cjk-local-fonts-unit .font-glyphs-container.compact .glyph-list
{
}

#cjk-local-fonts-unit .font-glyphs-container.compact .card
{
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
}

#cjk-local-fonts-unit .font-glyphs-container.compact .glyph
{
    font-size: 48px;
}

#cjk-local-fonts-unit .font-glyphs-container.compact .font-name
{
    display: none;
}

#cjk-local-fonts-unit .plain-panel
{
    padding-bottom: 1.5em;
    overflow-x: visible;
}

#cjk-local-fonts-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#cjk-local-fonts-unit .instructions li
{
    margin: 0.25em 0;
}

#cjk-local-fonts-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#cjk-local-fonts-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#cjk-local-fonts-unit .instructions code.select-all
{
    user-select: all;
    cursor: text;
}

#cjk-local-fonts-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#cjk-local-fonts-unit details
{
    margin: 1.2em 0;
}

#cjk-local-fonts-unit details[open] summary
{
    margin: 1.2em 0;
}

#cjk-local-fonts-unit summary
{
    font-weight: bold;
}

