@charset "utf-8";

#cjk-related-unit
{
    --color-frame: hsl(0, 0%, 75%);
    --color-background: hsl(0, 0%, 92.5%);
}

#cjk-related-unit .interface
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0 0 0;
    white-space: nowrap;
}

#cjk-related-unit .interface.bis
{
    margin: 0.75em 0 -0.5em 0;
}

#cjk-related-unit .interface .action-group + .action-group
{
    margin-left: 1em;
}

#cjk-related-unit .interface .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cjk-related-unit .history-button
{
    padding: 1px 6px;
    margin-right: 0.5em;
    user-select: none;
    white-space: nowrap;
}

#cjk-related-unit .history-button::after
{
    top: -2px;
}

#cjk-related-unit .history-button svg.history
{
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#cjk-related-unit .unihan-input
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    line-height: 1.333em;
    padding: 2px 6px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 12em;
    margin: 0 0.5em 0 0.25em;
}

#cjk-related-unit .unihan-input.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#cjk-related-unit .warning-message
{
    font-weight: bold;
    font-style: italic;
}

#cjk-related-unit .linear-wrapper
{
    margin: 1.25em 0 1em 0;
    background: none;
    border: none;
}

#cjk-related-unit .linear-row
{
    vertical-align: middle;
    font-family: var(--ids-family);
    font-size: 48px;
    line-height: 56px;
    min-height: 64px;
    height: 64px;
    background-color: white;
    user-select: text;
    cursor: text;
}

#cjk-related-unit .linear-character,
#cjk-related-unit .linear-code-point
{
    border: 3px solid var(--color-border);
    text-align: center;
    vertical-align: middle;
    width: 64px;
    min-width: 64px;
}

#cjk-related-unit .linear-related
{
    border: 1px solid var(--color-border);
    text-align: left;
    vertical-align: middle;
    width: 100%;
    padding: 2px 6px;
}

#cjk-related-unit .linear-gap
{
    width: 12px;
    min-width: 12px;
    vertical-align: middle;
    background: none;
    border: none;
    visibility: hidden;
    user-select: none;
}

#cjk-related-unit .linear-row-gap
{
    height: 6px;
    border: none;
    background: none;
}

#cjk-related-unit .linear-related .unihan-character-link
{
    border: 1px solid transparent;
    /* border-radius: 2px; */
    padding: 1px;
    margin: auto 2px;
    /* white-space: nowrap; */
}

#cjk-related-unit .linear-related .unihan-character-link.clickable
{
    border: 1px solid transparent;
}

#cjk-related-unit .linear-related .unihan-character-link.clickable:hover
{
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    cursor: pointer;
}

#cjk-related-unit .linear-related .unihan-character-link
{
    border: 1px dotted var(--color);
    cursor: default;
}

#cjk-related-unit .linear-code-points
{
    border: 1px solid var(--color-border);
    text-align: left;
    vertical-align: middle;
    width: 100%;
    padding: 3px 9px;
    word-spacing: 3px;
}

#cjk-related-unit .linear-row.code-points
{
    vertical-align: middle;
    font-family: var(--monospace-family);
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    min-height: 28px;
    line-height: 18px;
    user-select: text;
    cursor: text;
}

#cjk-related-unit .code-point.compatibility
{
    font-style: italic;
}

#cjk-related-unit .detailed-list
{
    margin: 1.75em 0 1em 0;
    border-collapse: collapse;
}

#cjk-related-unit .detailed-header,
#cjk-related-unit .detailed-data
{
    border: 1px solid var(--color-frame);
}

#cjk-related-unit .detailed-header
{
    font-size: 18px;
    line-height: 1.5em;
    text-align: left;
    vertical-align: middle;
    /* white-space: nowrap; */
    padding: 4px 12px;
    background-color: var(--color-background);
    /* user-select: text; */
    /* cursor: text; */
}

#cjk-related-unit .detailed-header.marked
{
    /* color: var(--color-dimmed); */
}

#cjk-related-unit .detailed-header .category,
#cjk-related-unit .detailed-header .marker,
#cjk-related-unit .detailed-header .separator
{
    font-weight: normal;
    font-family: var(--sans-serif-family);
}

#cjk-related-unit .detailed-header .group,
#cjk-related-unit .detailed-header .subgroup
{
    font-weight: bold;
    font-family: "ASCII Sans", var(--ids-family);
}

#cjk-related-unit .detailed-header .unihan-character-link,
#cjk-related-unit .detailed-header .wide-character,
#cjk-related-unit .detailed-header .unencoded,
#cjk-related-unit .detailed-header .radical
{
    border: 1px solid transparent;
    padding: 2px 1px;
    font-size: 21px;
}

#cjk-related-unit .detailed-header .unencoded
{
    color: var(--color-accent);
}

#cjk-related-unit .detailed-header .unihan-character-link:hover
{
    border: 1px dotted var(--color);
    cursor: default;
}

#cjk-related-unit .detailed-header .unihan-character-link.clickable:hover
{
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    cursor: pointer;
}

#cjk-related-unit .detailed-data
{
    width: 100%;
    font-family: var(--ids-family);
    font-size: 48px;
    /* font-size: 56px; */
    line-height: 1em;
    text-align: left;
    vertical-align: middle;
    padding: 8px 10px;
    background-color: white;
    /* user-select: text; */
    /* cursor: text; */
}

#cjk-related-unit .detailed-data .combo
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;
}

#cjk-related-unit .detailed-data .combo .unihan-character-link
{
    border: 1px dotted var(--color-dimmed);
    cursor: default;
    /* border-radius: 2px; */
    padding: 2px;
    margin: 0 2px;
    /* white-space: nowrap; */
}

#cjk-related-unit .detailed-data .combo .unihan-character-link.clickable
{
    border: 1px solid transparent;
}

#cjk-related-unit .detailed-data .combo .unihan-character-link.clickable:hover
{
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    cursor: pointer;
}

#cjk-related-unit .detailed-data .combo .code-point
{
    display: inline;
    font-family: var(--monospace-family);
    font-size: 12px;
    font-weight: bold;
    padding: 2px 3px 1px 3px;
    border: 1px solid var(--color-border);
    border-radius: 2px;
    line-height: 1em;
    background-color: var(--color-bg);
    text-align: center;
    margin: 4px 0 0 0;
}

#cjk-related-unit .plain-panel
{
    padding-bottom: 0.75em;
    overflow-x: visible;
}

#cjk-related-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#cjk-related-unit .instructions li
{
    margin: 0.25em 0;
}

#cjk-related-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#cjk-related-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#cjk-related-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#cjk-related-unit .categories-table
{
    margin: 0.75em 0;
    width: unset;
}

#cjk-related-unit .categories-table tr th,
#cjk-related-unit .categories-table tr td
{
    text-align: left;
    padding: 0.25em 0.75em;
    /* white-space: nowrap; */
}

#cjk-related-unit .categories-table tr th
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8))
}

#cjk-related-unit .categories-table tr td
{
    vertical-align: middle;
}

#cjk-related-unit .categories-table tr td.category
{
    font-weight: bold;
}

#cjk-related-unit .categories-table tr:nth-child(even) td
{
    background-color: white;
}

#cjk-related-unit .categories-table tr:nth-child(odd) td
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#cjk-related-unit details
{
    margin: 1.2em 0;
}

#cjk-related-unit details[open] summary
{
    margin: 1.2em 0;
}

#cjk-related-unit summary
{
    font-weight: bold;
}

