<section id="cjk-related-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="action-group">
                <button class="pull-down-menu history-button" type="button" title="Lookup History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                <input class="unihan-input" type="search" maxlength="64" title="Unihan character or code point" placeholder="Unihan…">
                <button class="look-up-button" type="button">Look Up</button>
            </span>
            <span class="action-group">
                <label class="checkbox" title="If checked, extrapolated sets of simplified/traditional and shinjitai/kyūjitai characters are also listed;&#10;if unchecked, only sets registered in the Unihan database are listed"><input class="extrapolated-checkbox" type="checkbox">&nbsp;Extrapolated&nbsp;(*)</label>
            </span>
        </div>
        <table class="linear-wrapper">
            <tr class="linear-row characters">
                <td class="linear-character"></td><td class="linear-gap"></td><td class="linear-related"></td>
            </tr>
            <tr class="linear-row-gap"></tr>
            <tr class="linear-row code-points">
                <td class="linear-code-point"></td><td class="linear-gap"></td><td class="linear-code-points"></td>
            </tr>
        </table>
        <div class="detailed-container"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>CJK Related</strong> utility displays sets of related CJK characters as a <em>linear</em> list view, followed by a <em>detailed</em> list view made of specific categories, among: <em>Addition</em>, <em>Confusable</em>, <em>Duplicate</em>, <em>Layout</em>, <em>Not-Unifiable</em>, <em>Parts</em>, <em>Radical</em>, <em>Related</em>, <em>Repeated</em>, <em>Series</em>, <em>Shinjitai-Kyūjitai</em>, <em>Simplified-Traditional</em>, <em>Substitution</em>, <em>Unifiable</em>.
                    <table class="categories-table">
                        <tr><th>Category</th><th>Description</th><th>Notes</th></tr>
                        <tr><td class="category">Addition</td><td>Additional component to CJK characters</td><td>Ordered by stroke count</td></tr>
                        <tr><td class="category">Confusable</td><td>Confusable CJK characters</td><td>Visually confusable characters</td></tr>
                        <tr><td class="category">Duplicate</td><td>Duplicate CJK characters</td><td>Characters sharing a common IDS</td></tr>
                        <tr><td class="category">Layout</td><td>CJK characters with related layout</td><td>Same components but different positioning</td></tr>
                        <tr><td class="category">Not-Unifiable</td><td>Not unifiable CJK characters</td><td>IRG-provided NUCV lists</td></tr>
                        <tr><td class="category">Parts</td><td>Parts of CJK characters</td><td>Ordered by stroke count</td></tr>
                        <tr><td class="category">Radical</td><td>Equivalent CJK characters of CJK radicals</td><td>KangXi radical followed by CJK radicals</td></tr>
                        <tr><td class="category">Related</td><td>Related CJK characters</td><td>All-purpose ("catch-all") category</td></tr>
                        <tr><td class="category">Repeated</td><td>Repeated components of CJK characters</td><td>Ordered by repetition factor</td></tr>
                        <tr><td class="category">Series</td><td>Series of CJK characters</td><td>Ordered logically</td></tr>
                        <tr><td class="category">Shinjitai-Kyūjitai</td><td>Japanese simplified and traditional CJK characters</td><td>Ordered by stroke count</td></tr>
                        <tr><td class="category">Simplified-Traditional</td><td>Chinese simplified and traditional CJK characters</td><td>Ordered by stroke count</td></tr>
                        <tr><td class="category">Substitution</td><td>Substituted component between CJK characters</td><td>Ordered by stroke count</td></tr>
                        <tr><td class="category">Unifiable</td><td>Unifiable CJK characters</td><td>IRG-provided UCV lists</td></tr>
                    </table>
                </li>
                <li>The term <em>related</em> is to be taken in a broad sense: <em>duplicate</em>, <em>mistaken</em>, <em>spoofing</em>, <em>look-alike</em>, visually <em>related</em>, regional <em>variants</em>, <em>series</em>, <em>confusable</em> (intentionally or not) CJK characters...</li>
                <li>Sets of Chinese simplified/traditional CJK characters are not limited to the ones <em>registered</em> in the Unihan database; they may contain additional <em>extrapolated</em> sets, sharing the same component substitution pattern, including <em>hybrid</em> combinations of simplified and traditional components.</li>
                <li>Likewise, although sets of Japanese shinjitai/kyūjitai CJK characters are generally not <em>rule-based</em>, they may be <em>extrapolated</em> by following plausible substitution patterns, and considered related as well.</li>
                <li>Any Unihan character (unified or compatibility) can be entered in the <kbd>Unihan</kbd> input field either as a character or a code point. Click on the <kbd>Look Up</kbd> button to display the looked up character followed by a list of related characters, if any, sorted by total stroke count in the <em>linear</em> list view.</li>
                <li>Previously looked up characters are kept in a history stack; use the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate through them up and down inside the input field. Alternatively, you can also use the <kbd>Lookup&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically look up a specific character.</li>
                <li>Click on the <kbd>Extrapolated&nbsp;(*)</kbd> checkbox to include the <em>extrapolated</em> Chinese simplified/traditional and Japanese shinjitai/kyūjitai sets as well; otherwise, only the sets registered in the Unihan database are listed.</li>
                <li>For the sake of precision, sub-categories and group names can make use of unencoded components of IDS, which are properly displayed by using an embedded copy of the custom font <a title="https://www.babelstone.co.uk/Fonts/PUA.html" href="https://www.babelstone.co.uk/Fonts/PUA.html">BabelStone Han PUA</a>, created by <a title="https://en.wikipedia.org/wiki/Andrew_West_(linguist)" href="https://en.wikipedia.org/wiki/Andrew_West_(linguist)">Andrew West</a>.</li>
                <li>For best display results, most recent versions of the following fonts should be downloaded and installed at the OS level:
                    <ul>
                        <li><a title="https://www.babelstone.co.uk/Fonts/Han.html" href="https://www.babelstone.co.uk/Fonts/Han.html">BabelStone Han</a> (<code>BabelStoneHan.ttf</code>)</li>
                        <li><a title="https://kamichikoichi.github.io/jigmo/" href="https://kamichikoichi.github.io/jigmo/">Jigmo</a> (<code>Jigmo.ttf</code>, <code>Jigmo2.ttf</code>, <code>Jigmo3.ttf</code>)</li>
                        <li><a title="http://cheonhyeong.com/Simplified/download.html" href="http://cheonhyeong.com/Simplified/download.html">TH-Tshyn</a> (<code>TH-Tshyn-P0.ttf</code>, <code>TH-Tshyn-P1.ttf</code>, <code>TH-Tshyn-P2.ttf</code>, <code>TH-Tshyn-P16.ttf</code>)</li>
                    </ul>
                </li>
                <li>Note: code points of CJK <em>compatibility</em> characters are systematically displayed in <em>italics</em>.</li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
