<section id="cjk-variations-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="action-group">
                <button class="pull-down-menu history-button" type="button" title="Lookup History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                <input class="unihan-input" type="search" maxlength="64" title="Unihan character or code point" placeholder="Unihan…">
                <button class="look-up-button" type="button">Look Up</button>
            </span>
            <span class="action-group combined">
                <label class="checkbox"><input class="combined-layout-checkbox" type="checkbox">&nbsp;Combined Layout</label>
            </span>
        </div>
        <div class="interface bis">
            <span class="action-group">
                <span class="character-reference"></span>
            </span>
        </div>
        <div class="ivs-glyphs-container"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>CJK Variations</strong> utility displays all the registered Ideographic Variation Sequences (IVS) of a given Unihan character, as referenced in their respective <strong>IVD 2022</strong> charts:
                    <ul>
                        <li><a href="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_Adobe-Japan1.pdf" title="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_Adobe-Japan1.pdf">Adobe-Japan1 collection - IVD_Charts_Adobe-Japan1.pdf</a></li>
                        <li><a href="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_Hanyo-Denshi.pdf" title="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_Hanyo-Denshi.pdf">Hanyo-Denshi collection - IVD_Charts_Hanyo-Denshi.pdf</a></li>
                        <li><a href="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_KRName.pdf" title="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_KRName.pdf">KRName collection - IVD_Charts_KRName.pdf</a></li>
                        <li><a href="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_Moji_Joho.pdf" title="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_Moji_Joho.pdf">Moji_Joho collection - IVD_Charts_Moji_Joho.pdf</a></li>
                        <li><a href="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_MSARG.pdf" title="https://www.unicode.org/ivd/data/2022-09-13/IVD_Charts_MSARG.pdf">MSARG collection - IVD_Charts_MSARG.pdf</a></li>
                    </ul>
                </li>
                <li>In addition, as an <em>experimental</em> feature, an <strong>unregistered</strong> set of <a href="https://www.babelstone.co.uk/Fonts/BSH_IVS.html" title="https://www.babelstone.co.uk/Fonts/BSH_IVS.html">BabelStone Han Variation Sequences</a> is also supported, intended to be registered in the <a href="https://www.unicode.org/ivd/" title="https://www.unicode.org/ivd/">Ideographic Variation Database</a> as a future <code>BabelStone Collection</code>.</li>
                <li>Click on the <kbd>Combined Layout</kbd> checkbox to display a consolidated table view, where all IVSes sharing the same variation selector value are grouped in the same column.</li>
                <li>Clicking inside any character glyph displays momentarily the same glyph for all variations in the same collection, while alt-clicking (or shift-clicking) applies to all character glyphs sharing the same IVS across different collections. This is especially useful to quickly spot visual differences between glyph variations.</li>
                <li>Any Unihan character can be entered in the <kbd>Unihan</kbd> input field either as a character or a code point. Click on the <kbd>Look Up</kbd> button to display all the IVS glyphs along with their VS (Variation Selector) code points.</li>
                <li>Previously looked up characters are kept in a history stack; use the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate through them up and down inside the input field. Alternatively, you can also use the <kbd>Lookup&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically look up a specific character.</li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
